<h1><%= @list.name %></h1>

<h3>Movies</h3>

<ul>
  <% @movies.each do |movie| %>
    <li><h4><%= movie.title %></h4>
    <p><%= movie.overview %></p>
    <p><%= @bookmark.comment %></p></li>
  <% end %>
</ul>

<%= link_to 'âž• Add bookmark', new_bookmark_path(@list), class: 'd-block' %>
<br>
<%= link_to 'ðŸ—‘ï¸ Delete bookmark', bookmark_path(@list), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<br>
<%= link_to "â¬…ï¸ Back to all lists", lists_path %>
