<h1><%= @list.name %></h1>

<h3>Movies</h3>

<div class="movie-container p-3">
  <ul class="d-flex p-3 mb-4">
    <% @movies.each do |movie| %>
      <div>
        <li><h4><%= movie.title %></h4>
        <%= image_tag movie.poster_url, style:"height: 250px; width: auto;", class: "float-rigth rounded float-right" %>
        <p class="w-75"><%= movie.overview %></p>
        <h4><em>"<%= movie.bookmarks.find_by(list: @list).comment %>"</em></h4></li>
        <div class="mt-4">
          <%= link_to 'ðŸ—‘ï¸ Delete bookmark', bookmark_path(movie.bookmarks.find_by(list: @list)), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"d-flex flex-direction-row" %>
        </div>
      </div>
    <% end %>
  </ul>

  <%= link_to 'âž• Add bookmark', new_bookmark_path(@list) %>

</div>

<%= link_to 'ðŸ—‘ï¸ Delete list', list_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<br>
<%= link_to "â¬…ï¸ Back to all lists", lists_path %>
